{:kotoba.app/id "cloud.itonami.isic-5222", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidtirpq4q3scdlnmw4772c2ph445sxxvftbadvi2ie4r2vocdefgy", :kotoba.app/embed-url "ipfs://bafkreidtirpq4q3scdlnmw4772c2ph445sxxvftbadvi2ie4r2vocdefgy", :published {:archive "https://kotobase.net/ipfs/bafkreidtirpq4q3scdlnmw4772c2ph445sxxvftbadvi2ie4r2vocdefgy", :size 73469, :put-status 201, :get-status 200, :at "2026-08-15T13:45:54.080Z"}}
